#index-bootstrap-override .container-fluid {
    margin: 0;
    padding: 0;
    border: none;
}
#index-bootstrap-override .imagecontainer {
  width: 100%;
  height:100vh;
  background-image: url("../images/bloom-blooming-blossom.jpg") ;
  background-size: cover;
  position: static;
}

#index-bootstrap-override header {
  display: block;
  width: 100%;
  padding: 25px;
  padding-bottom: 25px;
  z-index: 10;
  text-align: center;
  position: fixed;
  margin: 0 auto;
}

#index-bootstrap-override div.container-fluid header.whiteBG {
  background: white;
}

#index-bootstrap-override h1 {
  margin: 0;
  font-family: 'League Script', cursive;
  font-weight: 900;
  font-size: 40px;
  color: black;
  padding: 0;
  left: 20%;
}

#index-bootstrap-override nav.navbar {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  right: 20%;
  padding-top: 10px;
  letter-spacing: 0.1em;
}

#index-bootstrap-override nav i{
  padding: 10px 0;
  margin: 0 10px;
}
#index-bootstrap-override nav i a {
  font-style: normal;
  color: black;
  text-decoration: none;
  text-align: center;
}
.currentLink {
  font-weight: 900;
  border-bottom: solid black 1px;
}
 #index-bootstrap-override a:hover {
   color: rgba(203, 228, 247, 1);
 }

#index-bootstrap-override .about {
  max-width: 60vw;;
  position: relative;
  top: 15%;
  left: 19%;
  padding: 20px;
  background-color: rgba(203, 228, 247, 0);
}

p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 1.5;
}

#index-bootstrap-override footer {
  margin:0;
  width: 100%;
  right: 0;
  position: fixed;
  z-index: 10;
  bottom: 0;
  padding: 10px;
  background-color: rgba(203, 228, 247, .75);
  text-align: center;
}

#index-bootstrap-override footer .inline {
  display: inline;
  padding: 0;
}
#index-bootstrap-override footer p {
  padding: 0;
  margin: 0;
}
#index-bootstrap-override footer nav {
  margin: 0;
  padding: 0;
  bottom: 10px;
  display: inline;
}

#index-bootstrap-override.fab {
  font-size: 24px;
  padding: 0;
  display: inline;
}

/* Flower page specific CSS*/
#index-bootstrap-override .flowersContainer {
  position: relative;
  top: 70px;
  size: 95%;
  padding: -10px;

}

#index-bootstrap-override .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: rgba(233, 168, 189, 0.7);
}

#index-bootstrap-override .flowerImageContainer:hover .overlay {
  opacity: 1;
  padding-left: -10px;
  padding-right: -10px;
}

#index-bootstrap-override .img {
  display: block;
  width: 100%;
  height: auto;
}

#index-bootstrap-override .text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background: white;
  width: 200px;
}

#index-bootstrap-override .flowerImageContainer a {
  font-style: normal;
  color: rgba(233, 168, 189, 1);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  }

@media (min-width: 900px) {
  #index-bootstrap-override div header div div h1.mainpageheader{
    display: block;
  }
  #index-bootstrap-override header nav {
    display: block;
  }
}

@media (max-width: 375px) {
  #index-bootstrap-override div header div div h1{
    display: block;
    font-size: 20px;
  }

  #index-bootstrap-override header nav {
    display: block;
  }
}
