#bootstrap-override .container-fluid {
    margin: 0;
    padding: 0;
    border: none;
}
#bootstrap-override .imagecontainer {
  width: 100%;
  height:100vh;
  background-image: url("../images/bloom-blooming-blossom.jpg") ;
  background-size: cover;
  position: static;
}

#bootstrap-override header {
  display: block;
  width: 100%;
  padding: 25px;
  padding-bottom: 25px;
  z-index: 10;
  text-align: center;
  position: fixed;
  margin: 0 auto;
}

#bootstrap-override div.container-fluid header {
  background: rgb(241, 241, 241);
}

#bootstrap-override.index-page div.container-fluid header {
  background: none;
}

#bootstrap-override h1 {
  margin: 0;
  font-family: 'League Script', cursive;
  font-weight: 900;
  font-size: 40px;
  color: black;
  padding: 0;
  left: 20%;
}

#bootstrap-override nav.navbar {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  right: 20%;
  padding-top: 10px;
  letter-spacing: 0.1em;
}

#bootstrap-override nav i{
  padding: 10px 0;
  margin: 0 10px;
}
#bootstrap-override nav i a {
  font-style: normal;
  color: black;
  text-decoration: none;
  text-align: center;
}
.currentLink {
  font-weight: 900;
  border-bottom: solid black 1px;
  transition: 300ms ease-out;
}

}

 #bootstrap-override a:hover {
   color: rgba(203, 228, 247, 1);
 }

#bootstrap-override .about {
  max-width: 60vw;;
  position: relative;
  top: 15%;
  left: 19%;
  padding: 20px;
  background-color: rgba(203, 228, 247, 0);
}

p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  line-height: 1.5;
}

#bootstrap-override footer {
  margin:0;
  width: 100%;
  right: 0;
  position: fixed;
  z-index: 10;
  bottom: 0;
  padding: 10px;
  background-color: rgba(203, 228, 247, .75);
  text-align: center;
}
#bootstrap-override  #fixedFooter footer.row {
  margin:0;
  width: 100%;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: white;
  text-align: center;
  position: relative;
}


#bootstrap-override footer .inline {
  display: inline;
  padding: 0;
}
#bootstrap-override footer p {
  padding: 0;
  margin: 0;
}
#bootstrap-override footer nav {
  margin: 0;
  padding: 0;
  bottom: 10px;
  display: inline;
}

#bootstrap-override.fab {
  font-size: 24px;
  padding: 0;
  display: inline;
}

/* Flower page specific CSS*/
#bootstrap-override .flowers-container {
  position: relative;
  top: 100px;
  size: 95%;
  padding: 10px;

}

#bootstrap-override .flowers-container .row {

  padding: 10px;

}

#bootstrap-override .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: rgba(255,255,255,0.6);
}

#bootstrap-override .col-sm-4:hover .overlay {
  opacity: 1;
}

#bootstrap-override .col-sm-4 img {
  display: block;
  width: 100%;
  height: auto;
}

#bootstrap-override .col-sm-4 .text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 200px;
  padding: 40px;
}

#bootstrap-override .col-sm-4 a {
  font-style: normal;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;

}

/* individual flower page */

#bootstrap-override.individual-flower-page div.container{
  position: relative;
  size: 95%;
  top: 100px;
  padding-top: 20px;
}


#bootstrap-override.individual-flower-page div.container .information h2 {
  margin: 20px 0;
  display: inline;
}



#bootstrap-override.individual-flower-page div.container .information h2,
#bootstrap-override.individual-flower-page div.container .information h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}


#bootstrap-override.individual-flower-page div.container .information span {
  padding: 0 5px;
  font-size: 20px;
  font-style: italic;
}


/*Contribute page*/

#bootstrap-override.contribute-page .container {
  position: relative;
  top: 100px;
}

#bootstrap-override.contribute-page .container h2{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  padding: 10px;
  text-align: center;
}

#bootstrap-override.contribute-page .container div.form-group {
  padding-top: 10px;
}

@media (min-width: 900px) {
  #bootstrap-override div header div div h1.mainpageheader{
    display: block;
  }
  #bootstrap-override header nav {
    display: block;
  }
}
#bootstrap-override div.#form-container.container {
  display: block;
  width: 100%;
  position: relative;
  top: 100px;
}

@media (max-width: 375px) {
  #bootstrap-override div header div div h1{
    display: block;
    font-size: 20px;
  }

  #bootstrap-override header nav {
    display: block;
  }
}
